{%extends "model-page.html"%}

{%block content%}

<h2> Event </h2>
<form class="try" action="submit" method="POST">{% csrf_token %}
    <label>Title</label>
    <input type="number" name="id_evento" value="{{ Event.id }}" hidden>

    <br>
    <input type="text" name="title" size="27" value="{{ Event.title }}">
    <br><br>
    <label>Appointment</label>
    <br>
    <input type="datetime-local" name="event_date" size="27" value="{{ Event.get_data_input_event }}">
    <br><br>
    <label>Details</label>
    <br>
    <textarea name="description" rows="5" cols="23">{{ Event.description }}</textarea>
    <br><br><br>
    <button type="submit">Save</button>
    <a href="/">
    <button type="button">Cancel</button>
    </a>
</form>
{%endblock%}